<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    netbook / Profile Page
</h1>
<% if(user.id=profile_user.id) { %>
    <form action="/users/update/<%= profile_user.id %>" method="post">
        <input type="text" name="name" value="<%= profile_user.name %>">
        <input type="email" name="email" value="<%= profile_user.email %>"> 
        
        <input type="submit" value="update">
    </form>

    <% }else{ %>
<p>Name: <%= user.name %></p>
<p>Email:<%= user.email %></p>
<% } %>


